recursive-include docs/*.md
recursive-include bcml/data *
recursive-include bcml/helpers *
recursive-exclude bcml/helpers/__pycache__ *
recursive-include bcml/mergers *
recursive-exclude bcml/mergers/__pycache__ *
include bcml/assets/index.html
include bcml/assets/logo-smaller.png
recursive-include bcml/assets/css *.css
recursive-include bcml/assets/help *
recursive-include bcml/assets/icon *
recursive-include bcml/assets/scripts *.js
recursive-exclude bcml/assets/src *
include bcml/assets/scripts/bundle.js
recursive-include webviewb/lib *
