aamp~=1.4.1
byml~=2.4.2
botw-utils~=0.2.3
oead~=1.2.0
packaging~=21.3
pythonnet~=3.0.1
PyQt5; platform_system == 'Linux'
pyqtwebengine; platform_system == 'Linux'
QtPy; platform_system == 'Linux'
cefpython3~=66.1; platform_system == 'Windows'
pywebview==3.7.2
PyYAML~=5.4.1
requests~=2.26.0
rstb>=1.2.2
xxhash~=1.4
