html,
body,
#root,
#tabs {
    font-family: Roboto, "Droid Sans", "Source Sans Pro", "Open Sans", sans-serif;
    height: 100vh;
    overflow: hidden;
}

#root,
.modal-content {
    background-color: #2f3136;
    color: #ffffff;
}

.modal-header .close {
    color: #ffffff;
}

#root {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

.overflow-menu {
    position: absolute;
    right: 0;
    top: 0;
    height: 32px;
}

.overflow-menu .dropdown-toggle,
.overflow-menu .dropdown-toggle:hover,
.overflow-menu .dropdown-toggle:active:hover,
.overflow-menu .dropdown-toggle:focus {
    background-color: transparent !important;
    box-shadow: none !important;
    border: 0;
    height: 30px;
    padding: 0.25rem 0.5rem;
}

.overflow-menu .dropdown-toggle:hover {
    background-color: #191919 !important;
}

.overflow-menu .dropdown-toggle:active:hover {
    background-color: #0c0c0c !important;
}

.dropdown-menu {
    background-color: #242529;
    color: #e0e0e0;
}

.dropdown-item {
    color: #e0e0e0;
}

.dropdown-item:hover {
    color: #e0e0e0;
    background-color: #42454c;
}

.dropdown-item:active:hover {
    color: #e0e0e0;
    background-color: #1584cd;
}

.tab-content {
    height: calc(-32px + 100%);
    display: flex;
    flex-direction: column;
}

#root nav {
    background-color: #111;
    height: 32px;
}

#root .nav,
#root .nav-tabs .nav-link {
    border: 0;
}

.nav-tabs .nav-link {
    color: #e0e0e0;
    border-radius: 0;
    padding: 4px 12px;
    max-height: 32px;
    transition: all ease-out 0.2s;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link.active:hover {
    background-color: #303030;
}

.nav-tabs .nav-link.active {
    color: #fff;
    background-color: transparent;
    border-bottom: 2px solid #fff !important;
}

.tab-pane>.row {
    overflow: hidden;
    padding: 0 15px;
    height: 100%;
}

.tab-pane {
    max-height: 100%;
    height: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.tab-pane.active {
    height: 100%;
    opacity: 1;
    display: flex;
    flex-direction: column;
}

#mods {
    background-color: #242529;
    box-shadow: 3px 0 9px -2px #191919;
    padding: 4px;
    width: 100%;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    z-index: 111;
}

.mod-list {
    position: relative;
    -ms-overflow-style: none;
    color: #e0e0e0;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
}

.error-msg {
    background-color: transparent;
    border: 1px solid #242529;
    color: #ffffff;
    display: block;
    font-family: "Fira Code", "Source Code Pro", "Droid Mono", "Consolas", "Courier New",
        Courier, monospace !important;
    font-size: smaller;
    margin: 0.5rem 0;
    max-height: 100%;
    min-height: 100vh;
    overflow: auto;
    padding: 0.5rem 1rem;
    white-space: pre;
    width: 100%;
}

.scroller::-webkit-scrollbar {
    width: 0;
}

.scroller:hover::-webkit-scrollbar {
    width: 8px;
}

.scroller::-webkit-scrollbar-thumb {
    background: #303030;
    border-radius: 16px;
}

.scroller::-webkit-scrollbar-track {
    background: rgba(200, 200, 200, 0.15);
    border-radius: 16px;
}

.mod-list .list-group-item {
    -ms-overflow-style: none;
    cursor: default;
    -webkit-user-select: none;
    user-select: none;
    scrollbar-width: none;
    background-color: transparent;
    color: #e0e0e0;
    padding: 0.25em 0.5em;
    text-align: left;
    overflow-x: auto;
    min-height: fit-content;
    border: 0;
    transition: background-color ease-out 0.25s;
}

.mod-list .list-group-item:hover {
    background-color: #42454c;
}

.mod-list .list-group-item::-webkit-scrollbar {
    display: none;
}

.mod-list .list-group-item.active {
    background-color: #1584cd;
    color: #e0e0e0;
}

.mod-list .mod-disabled {
    color: #e53935;
}

.mod-list .mod-disabled:hover {
    background-color: #543131;
    color: #e0e0e0;
}

.mod-list .mod-disabled.active {
    background-color: #e53935;
    color: #e0e0e0;
}

.mod-list .mod-queued {
    color: #43a048;
}

.mod-list .mod-queued:hover {
    background-color: #315433;
    color: #e0e0e0;
}

.mod-list .mod-queued.active {
    background-color: #43a048;
    color: #e0e0e0;
}

.mod-list .list-actions {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    width: 100%;
}

.list-actions .btn-group-xs {
    margin-right: 0.25rem;
}

.mod-list .mod-handle .material-icons {
    color: #999;
    line-height: 0;
    vertical-align: middle;
    margin: 0 0.25rem 0 -0.25rem;
}

#mod-info {
    -ms-overflow-style: -ms-autohiding-scrollbar;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 100%;
}

#mod-info .btn .material-icons,
#pages .btn .material-icons {
    line-height: unset;
    margin: -0.25rem 0rem;
    vertical-align: middle;
}

#mod-info>div {
    flex-shrink: 1;
}

.load-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 77;
}

.load-backdrop .loading {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.load-backdrop .spinner-border {
    width: 3rem;
    height: 3rem;
}

.mod-header {
    position: relative;
}

.mod-title {
    padding: 8px 15px;
}

.mod-title h1 {
    display: inline-block;
    font-size: 2rem;
    text-shadow: 2px 2px 8px #000;
    margin-right: 0.5rem;
}

.mod-title h1 a {
    color: #fff;
    text-decoration: none;
}

.mod-title .badge {
    vertical-align: text-top;
}

.mod-preview,
.mod-preview-shadow {
    width: 100%;
}

.mod-preview-shadow {
    content: " ";
    background: linear-gradient(180deg, rgba(33, 33, 33, 0) 0%, rgba(33, 33, 33, 1) 90%);
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 1;
}

.mod-preview-shadow+.mod-title {
    position: absolute;
    left: 15px;
    padding: 0;
    bottom: 0;
    z-index: 2;
    overflow: visible;
}

.mod-descrip {
    padding: 8px 15px;
    flex-grow: 1 !important;
}

.mod-actions {
    padding: 0 15px 0 8px;
}

.mod-actions .btn {
    display: inline-block;
    margin: 8px 4px;
}

.mod-actions .btn span,
#pages .btn span {
    vertical-align: text-top;
}

#pages .btn {
    margin-right: 0.25rem;
}

.mod-details {
    background-color: #000;
    color: #e0e0e0;
    border-top: 1px solid #42454c;
    display: flex;
    flex-wrap: wrap;
    text-transform: uppercase;
    padding: 4px;
    min-height: fit-content;
    font-size: 0.8em;
    opacity: 0.5;
}

.mod-details span {
    margin: 0 4px;
    text-overflow: ellipsis;
}

.btn-apply {
    position: fixed;
    bottom: 2.5rem;
    display: flex;
    align-items: center;
    width: calc(33.333333333333% - 8px);
}

.btn-apply span {
    font-size: 0.875rem;
    padding: 0.125rem 0 0 0.125rem;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1;
    margin: 0 auto;
    white-space: nowrap;
}

.fab {
    position: fixed;
    right: 1.5rem;
    bottom: 1rem;
    z-index: 999;
}

.fab,
.btn-nav {
    background-color: #1584cd;
    border-radius: 50%;
    cursor: pointer;
    width: 48px;
    height: 48px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.19), 0 4px 4px rgba(0, 0, 0, 0.23);
    transition: background-color 0.25s ease-out;
    text-align: center;
}

.btn-nav {
    position: relative;
}

Fade {
    height: 100%;
}

.fab:active:hover,
.btn-nav:active:hover {
    background-color: #1068a4;
}

.fab:hover,
.btn-nav:hover {
    background-color: #439bd7;
}

.fab .material-icons,
.btn-nav .material-icons {
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}

#install-queue .rem-mod {
    cursor: pointer;
    font-size: 0;
    margin-bottom: 0.25rem;
}

#install-queue .mod-handle {
    color: #999;
    padding-right: 0.25rem;
}

.mod-handle,
.mod-handle .material-icons {
    cursor: move;
    cursor: -webkit-grab;
}

#install-queue .flex-grow-1 {
    cursor: default;
}

.mod-handle:active:hover {
    cursor: grabbing;
}

.options.popover,
.options.popover .popover-header,
.options.popover .popover-body {
    color: #fff;
}

.loading {
    margin: 1rem auto;
    max-width: fit-content;
}

.options.popover .popover-header {
    background-color: #242529;
    border-bottom: #42454c;
}

.options.popover {
    -ms-overflow-style: -ms-autohiding-scrollbar;
    background-color: #2f3136;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.19), 0 4px 4px rgba(0, 0, 0, 0.23);
    max-height: 50vh;
    min-width: fit-content;
    overflow: auto;
}

.options.popover .popover-body {
    min-width: fit-content;
}

.dev-other .btn {
    white-space: nowrap;
    width: 100%;
    margin-bottom: 0.66rem;
}

.bnp {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.bnp .form {
    flex-grow: 1;
}

.dev-open .options.popover {
    left: 60px !important;
    bottom: 4px !important;
    top: unset !important;
    transform: none !important;
}

.modal-body .nav {
    height: 32px;
    margin-bottom: 0.25rem;
    border-bottom: 1px solid #e0e0e0;
}

.modal-body .nav-tabs .nav-link.active {
    background-color: #e0e0e0;
    color: #202020;
    border-bottom: 1px solid #e0e0e0;
}

.depends .material-icons {
    cursor: pointer;
}

/* Utilities */

.height100 {
    min-height: 100%;
}

.btn-primary {
    background-color: #1584cd !important;
}

.btn-primary:hover {
    background-color: #439bd7 !important;
}

.btn-primary:active:hover {
    background-color: #1068a4 !important;
}

.btn-danger {
    background-color: #e53935 !important;
}

.btn-danger:hover {
    background-color: #ea5f5d !important;
}

.btn-danger:active:hover {
    background-color: #b72c2a !important;
}

.btn-warning {
    background-color: #ffb300 !important;
}

.btn-warning,
.btn-warning:hover,
.btn-warning:active:hover {
    text-shadow: 1px 1px 1px #999;
    color: #fff !important;
}

.btn-warning:hover {
    background-color: #ffc107 !important;
}

.btn-warning:active:hover {
    background-color: #ffa000 !important;
}

.btn-info {
    background-color: #00897b !important;
}

.btn-info:hover {
    background-color: #009688 !important;
}

.btn-info:active:hover {
    background-color: #00796b !important;
}

.alert-info {
    color: #ffffff !important;
    background-color: #009688 !important;
    border-color: #00796b !important;
}

.btn-success {
    background-color: #43a047 !important;
}

.btn-success:hover {
    background-color: #68b36c !important;
}

.btn-success:active:hover {
    background-color: #358039 !important;
}

.btn-group-xs>.btn,
.btn-xs {
    padding: 0.2rem 0.25rem;
    font-size: 0.667rem;
    line-height: 0.5;
    border-radius: 0.2rem;
}

.modal-wide {
    width: auto !important;
    max-width: 75% !important;
}

.modal-dialog .btn-group-xs>.btn,
.modal-dialog .btn-xs {
    padding: 2px;
    font-size: 0.875rem;
    line-height: 0.5;
    border-radius: 0.2rem;
}

.modal-dialog .btn-xs .material-icons {
    font-size: 16px;
}

.material-icons.reversed {
    -ms-transform: scaleY(-1);
    transform: scaleY(-1);
}

.modal-header,
.modal-footer {
    border-color: #242529;
}

.modal-content pre {
    max-height: 16rem;
    background-color: #242529;
    overflow: auto;
    padding: 0.75rem 1rem;
    color: #fff;
    margin: 0.25rem 1rem 0.25rem 0;
}

.modal-content .accordion>.card {
    background-color: #242529;
}

.modal-content .accordion>.card .card-header {
    text-transform: capitalize;
}

.modal-content .accordion .card .card-body {
    white-space: nowrap;
    overflow-x: auto;
}

.form-control {
    border: 1px solid #4f4f4f;
}

.form-control:focus {
    border: 1px solid #1584cd;
    box-shadow: none;
}

.form-control,
.form-control:focus {
    background-color: #42454c;
    color: #fff;
}

.form-control:disabled {
    background-color: #42454c;
    color: #303030;
}

.form-control:disabled.is-valid {
    border: 1px solid #4f4f4f;
    background-image: none;
}

.radio-group .form-group {
    margin-bottom: 0.1667rem;
}

/* Transitions */
.slide-tab-enter {
    transform: translateX(100%);
    transition: 500ms linear;
}

.slide-tab-enter-active {
    transform: translateX(0%);
}

.slide-tab-exit {
    transform: translateX(0%);
    transition: 500ms linear;
}

.slide-tab-exit-active {
    transform: translateX(-100vw);
}